[submodule "vendor/openssl"]
	path = vendor/openssl
	url = https://github.com/serenial/openssl-windows-binaries
[submodule "vendor/libgit2"]
	path = vendor/libgit2
	url = https://github.com/serenial/libgit2.git
[submodule "vendor/libssh2"]
	path = vendor/libssh2
	url = https://github.com/serenial/libssh2.git
[submodule "vendor/zlib"]
	path = vendor/zlib
	url = https://github.com/serenial/zlib.git
	ignore = untracked
[submodule "vendor/openssl-windows-binaries"]
	path = vendor/openssl-windows-binaries
	url = https://github.com/serenial/openssl-windows-binaries
